<strong>Olá, {{ username }}, tudo bem?</strong>

<p>Uma tarefa foi designada a você: {{ title }}</p>

@if(hasAttachment)
  <p>Você pode ver os arquivos anexados à tarefa neste mesmo email!</p>
@endif
